# SQL Analytics Project: Investigating a Drop in User Engagement
*Data Analyst Case Study*

## Business Problem
Yammer is an enterprise social network for communicating with coworkers. Individuals share documents, updates, and ideas by posting them in groups. Yammer is free to use indefinitely, but companies must pay license fees if they want access to administrative controls, including integration with user management systems like ActiveDirectory.

Yammer notices a drop in Weekly Active Users, "the number of users who logged at least one engagement event during the week starting on that date". **Engagement** is defined as having made some type of server call by interacting with the product. 

My goal is to determine what caused the dip at the end of the chart shown below and recommend solutions.

![Image of engagement](https://raw.githubusercontent.com/fanpowei/SQL-Projects/main/image/engagement_graph.png)

## Potential Causes
Before touching the data, I came up with a list of possible causes for the dip in user engagement.
*The potential causes for a dip in user engagement include the following:*

- **New product or new version:** There might be bugs or inconveniences in a new application or company product. If customers don’t like it, then it is not weird to see an immediate reduction in engagement rate.
- **Holiday:** People who use Yammer at work will probably engage at a lower rate on holidays. If one area or country performs a lower engagement rate than other in a specific period of time, then it is possible that this is the reason.
- **Internet service shutdown:** This can occur due to cyberattacks or security service errors. This is an extremely unlikely event, but it is also possible.
- **Marketing event:** A marketing campaign or a television ad might bring future sign-up to the present. This will create short-term incentives for active numbers, but a potential slowdown after the marketing activities end.
- **Competitors:** Its competitors might launch a competing product or a new marketing strategy that leads to reduced use by customers.
- **Timing:** It is possible that users who are parents go on a family vacation before school starts in September.

## Data
*There are four tables, and their names and column definitions are listed below:*

![Image of diagram](https://raw.githubusercontent.com/fanpowei/SQL-Projects/main/image/dataset_diagram.png)

**Table 1: Users**

*This table includes one row per user, with descriptive information about that user's account.*

![Image of table1](https://raw.githubusercontent.com/fanpowei/SQL-Projects/main/image/table1.png)

**Table 2: Events**

*This table includes one row per event, where an event is an action that a user has taken on Yammer.*

![Image of table2](https://raw.githubusercontent.com/fanpowei/SQL-Projects/main/image/table2.png)

**Table 3: Email Events**

*This table contains events specific to the sending of emails. It is similar in structure to the events table above.*

![Image of table3](https://raw.githubusercontent.com/fanpowei/SQL-Projects/main/image/table3.png)

**Table 4: Rollup Periods**

*The final table is a lookup table that is used to create rolling time periods.*

![Image of table4](https://raw.githubusercontent.com/fanpowei/SQL-Projects/main/image/table4.png)

## Analyze

In [121]:
#pip install PyMySQL

In [2]:
%load_ext sql

In [6]:
%sql mysql+pymysql://root:Puppy0215@localhost:3306/sys

### Event Analysis
Take a look at what events are categorized as “engagement”.

In [46]:
%%sql

#display event name and type
SELECT DISTINCT event_name, event_type
FROM sys.Events
ORDER BY event_type DESC, event_name

 * mysql+pymysql://root:***@localhost:3306/sys
21 rows affected.

[('complete_signup', 'signup_flow'),
 ('create_user', 'signup_flow'),
 ('enter_email', 'signup_flow'),
 ('enter_info', 'signup_flow'),
 ('home_page', 'engagement'),
 ('like_message', 'engagement'),
 ('login', 'engagement'),
 ('search_autocomplete', 'engagement'),
 ('search_click_result_1', 'engagement'),
 ('search_click_result_10', 'engagement'),
 ('search_click_result_2', 'engagement'),
 ('search_click_result_3', 'engagement'),
 ('search_click_result_4', 'engagement'),
 ('search_click_result_5', 'engagement'),
 ('search_click_result_6', 'engagement'),
 ('search_click_result_7', 'engagement'),
 ('search_click_result_8', 'engagement'),
 ('search_click_result_9', 'engagement'),
 ('search_run', 'engagement'),
 ('send_message', 'engagement'),
 ('view_inbox', 'engagement')]

We can see that except for the signup flow like creating user and entering individual information, the rest of the interactions are definend as 'engagement'.

Now, I would like to see the number of occurrences in July and August to see what events should be responsible for the drop in engagement.

In [103]:
%%sql

WITH temp AS (
SELECT 
    event_name,
    MONTH(occurred_at) as months,
    COUNT(*) as event_count
FROM sys.Events
WHERE event_type = 'engagement'
GROUP BY event_name, months
HAVING months = 7 OR months = 8
)

#pivot table
SELECT *, (August - July) as diff
FROM (
    SELECT 
        event_name,
        MAX(CASE WHEN months = 7 THEN event_count ELSE NULL END) as 'July',
        MAX(CASE WHEN months = 8 THEN event_count ELSE NULL END) as 'August'
    FROM temp
    GROUP BY event_name) as t

 * mysql+pymysql://root:***@localhost:3306/sys
17 rows affected.

[('login', 11023, 9271, -1752),
 ('home_page', 26765, 21603, -5162),
 ('like_message', 16691, 13332, -3359),
 ('send_message', 9363, 7324, -2039),
 ('search_run', 3803, 2836, -967),
 ('view_inbox', 16088, 13011, -3077),
 ('search_autocomplete', 5226, 4469, -757),
 ('search_click_result_4', 361, 257, -104),
 ('search_click_result_6', 247, 170, -77),
 ('search_click_result_1', 432, 274, -158),
 ('search_click_result_5', 266, 182, -84),
 ('search_click_result_7', 200, 153, -47),
 ('search_click_result_10', 163, 103, -60),
 ('search_click_result_2', 449, 296, -153),
 ('search_click_result_9', 237, 142, -95),
 ('search_click_result_8', 211, 135, -76),
 ('search_click_result_3', 305, 235, -70)]

The top 5 events that caused the dip, in descending order, are *home_page*, *like_message*, *view_inbox*, *send_message*, *login*. From the table above, I can sum up in following points:

- **No Technical issue in Login function** - It's easy to see that people aren't showing less engagement because they can't log in, but the majority of those who log in are barely using it.

- **Large drop in loading Home Page** - This issue can happen due to either behavior change which users tend to focus more on specific functions like search engines, or a technical problem on Home Page. Given the sudden drop, the latter would be the more likely reason.

- **Decrease usage in message function** - It seems like people suddenly reduce interaction with other people. Until further research, I can't be sure what lead to this situation.

### Regional Issue
I would like to see if the decrease in engagement due to regional holiday or local feature testing.

In [124]:
%%sql

CREATE TEMPORARY TABLE region

WITH temp AS (
    #count active user according to location and months
    SELECT location, months, COUNT(user_id) as user_count
    FROM (
        SELECT 
            DISTINCT user_id, location, MONTH(occurred_at) as months
        FROM sys.Events
        WHERE event_type = 'engagement') as t
    WHERE months = 7 OR months = 8
    GROUP BY location, months
    ORDER BY location, months)

#pivot table
SELECT 
    location,
    MAX(CASE WHEN months = 7 THEN user_count ELSE NULL END) as 'July',
    MAX(CASE WHEN months = 8 THEN user_count ELSE NULL END) as 'August'
FROM temp
GROUP BY location

 * mysql+pymysql://root:***@localhost:3306/sys
47 rows affected.

[]

In [133]:
%%sql

#display the top 5 regions experiencing the most decrease in active user
SELECT 
    *,
    (August - July) as diff,
    CONCAT(((August - July)/July)*100, '%') as '%diff'
FROM region
ORDER BY diff
LIMIT 5

 * mysql+pymysql://root:***@localhost:3306/sys
5 rows affected.

[('United States', 879, 785, -94, '-10.6940%'),
 ('France', 159, 122, -37, '-23.2704%'),
 ('Germany', 188, 168, -20, '-10.6383%'),
 ('Canada', 86, 68, -18, '-20.9302%'),
 ('Italy', 116, 100, -16, '-13.7931%')]

In [136]:
%%sql

#count the number of location experiencing negative growth
SELECT COUNT(*) as negative_growth_count
FROM region
WHERE (August - July) < 0

 * mysql+pymysql://root:***@localhost:3306/sys
1 rows affected.

[(27,)]

- **No evidence this is a regional problem**, since 27 countries out of 47 show negative growth (~60% countries experience negative growth).

- **United States has the most significant drop** in the number of active users which leads the sharp decline in the total engagement number. However, given its percentage drop, it doesn't look like it's dues to regional factors like holiday.

### Device Operation Problem
Nowadays, there are so many kinds of electric devices that allow people to enjoy Internet services. However, since different brands have different operating systems, incompatibilities may occur.

In [97]:
%%sql

WITH temp AS (
    SELECT
        #categorize devices into their operating system
        CASE
            #ios
            WHEN device IN ('iphone 5', 'iphone 4s', 'macbook air', 'iphone 5s',
                            'macbook pro', 'ipad mini', 'mac mini', 'ipad air') THEN 'ios'
            #windows
            WHEN device IN ('dell inspiron notebook', 'windows surface',
                            'lenovo thinkpad', 'acer aspire notebook', 'asus chromebook',
                            'nokia lumia 635', 'acer aspire desktop', 'hp pavilion desktop',
                            'dell inspiron desktop') THEN 'windows'
            #android
            WHEN device IN ('nexus 7', 'nexus 5', 'samsung galaxy s4',
                            'samsumg galaxy tablet', 'htc one',
                            'samsung galaxy note', 'nexus 10') THEN 'android'
            #fire_os
            ELSE 'fire_os'
        END as system_type,
        MONTH(occurred_at) as months,
        COUNT(*) as engagement_count
    FROM sys.Events
    WHERE event_type = 'engagement'
    GROUP BY system_type, months
    HAVING months = 7 OR months = 8
)
    
#pivot table
SELECT *, (August - July) as diff
FROM (
    SELECT 
        system_type,
        MAX(CASE WHEN months = 7 THEN engagement_count ELSE NULL END) as 'July',
        MAX(CASE WHEN months = 8 THEN engagement_count ELSE NULL END) as 'August'
    FROM temp
    GROUP BY system_type) as t

 * mysql+pymysql://root:***@localhost:3306/sys
4 rows affected.

[('windows', 30869, 26336, -4533),
 ('ios', 43582, 35571, -8011),
 ('fire_os', 1744, 1148, -596),
 ('android', 15635, 10738, -4897)]

- Again, **no clear evidence devices are causing this phenomenon**.

- The diff numbers of ios are about two times greater than Windows or Android because the operating system includes both mobile devices and computers.

    From here, we know there is no technical issue in the login function and somehow people in most regions stop entering the home page and using the message feature. And this happens no matter what kind of device they use.

### User Analysis
Now, I turn my attention to users. I would like to know how well Yammer was doing in terms of customer retention.

In [106]:
%%sql

with temp as (
    
#created time (in 4,5,6,7,8 month)
#engagement time (in 5,6,7,8 month) 
#and according total engagement number
SELECT
    create_month,
    engage_month,
    COUNT(*) as engage_count
FROM (
    #combine two tables (events and users) to acquire user information
    SELECT 
        u.user_id,
        MONTH(u.created_at) as create_month,
        MONTH(e.occurred_at) as engage_month
    FROM sys.Events e
    JOIN sys.Users u ON u.user_id = e.user_id
    WHERE e.event_type = 'engagement' AND YEAR(u.created_at) = 2014 AND MONTH(u.created_at) >= 4
    ) as t
GROUP BY create_month, engage_month
ORDER BY create_month, engage_month
)

#pivot table
SELECT
    IF(GROUPING(create_month) = 1, 'all user', create_month) as create_month,
    IFNULL(SUM(CASE WHEN engage_month = 5 THEN engage_count ELSE NULL END),0) as '#May',
    IFNULL(SUM(CASE WHEN engage_month = 6 THEN engage_count ELSE NULL END),0) as '#June',
    IFNULL(SUM(CASE WHEN engage_month = 7 THEN engage_count ELSE NULL END),0) as '#July',
    IFNULL(SUM(CASE WHEN engage_month = 8 THEN engage_count ELSE NULL END),0) as '#August'
FROM temp
GROUP BY create_month WITH ROLLUP

 * mysql+pymysql://root:***@localhost:3306/sys
6 rows affected.

[('4', Decimal('13386'), Decimal('4969'), Decimal('5616'), Decimal('3708')),
 ('5', Decimal('18892'), Decimal('12159'), Decimal('5809'), Decimal('2890')),
 ('6', Decimal('0'), Decimal('20590'), Decimal('14402'), Decimal('4047')),
 ('7', Decimal('0'), Decimal('0'), Decimal('23785'), Decimal('13416')),
 ('8', Decimal('0'), Decimal('0'), Decimal('0'), Decimal('20680')),
 ('all user', Decimal('32278'), Decimal('37718'), Decimal('49612'), Decimal('44741'))]

- I implemented **Cohort Analysis** to better track and understand user behavior. Users are divided based on when they signed up for Yammer; for example, the first row represents the total monthly engagement for a group of people who set up an account in April.

- It's obvious **Yammer had done poorly on user stickiness**. User engagement with Yammer's products drop significantly over time

- According to the total number of engagements every month, **in August, the loss of engagement is already higher than the new engagement**. And that leads to a drop in the total engagement number.

### Marketing Email Analysis
Digest emails is a regular way of communicating with the brand customers and keeping it present their minds. Therefore, I was curious about the recent performance of digest emails according to the open rate and clickthrough rate.

In [107]:
%%sql

WITH temp AS (

    #aggregate number of each action
    SELECT
        MONTH(occurred_at) as months,
        action,
        COUNT(*) as action_count,
        sum(opened_email) as opened_count,
        SUM(clicked_email) as clicked_count
    FROM (
        SELECT 
                *,
                #use lead() and partition by to analyze each event
                #define email which has been opened
                CASE WHEN (LEAD(action,1) OVER (PARTITION BY user_id ORDER BY occurred_at)) = 'email_open' THEN 1 ELSE 0 END AS opened_email,
                #define email which has been clicked
                CASE WHEN (LEAD(action,2) OVER (PARTITION BY user_id ORDER BY occurred_at)) = 'email_clickthrough' THEN 1 ELSE 0 END AS clicked_email
            FROM sys.Email_Events) as t
    WHERE action NOT IN ('email_open', 'email_clickthrough')
    GROUP BY months, action 
)

#display open rate and clickthrough rate based on each month and action
SELECT
    action,
    months,
    action_count,
    CONCAT((opened_count/action_count)*100,'%') as open_rate,
    CONCAT((clicked_count/action_count)*100, '%') as clickthrough_rate
FROM temp
ORDER BY action, months

 * mysql+pymysql://root:***@localhost:3306/sys
8 rows affected.

[('sent_reengagement_email', 5, 758, '89.5778%', '81.5303%'),
 ('sent_reengagement_email', 6, 889, '88.7514%', '79.7525%'),
 ('sent_reengagement_email', 7, 933, '88.9603%', '81.3505%'),
 ('sent_reengagement_email', 8, 1073, '90.1212%', '80.9879%'),
 ('sent_weekly_digest', 5, 11730, '30.1194%', '11.9778%'),
 ('sent_weekly_digest', 6, 13155, '29.4109%', '11.8966%'),
 ('sent_weekly_digest', 7, 15902, '30.0654%', '12.3381%'),
 ('sent_weekly_digest', 8, 16480, '30.4066%', '6.8143%')]

- The marketing department continues to increase the volume of email marketing to engage users. However, there is a great efficiency difference between reengagement_email and weekly_digest.

- According to the table above, **reengagement_email always has a higher and stable open rate and clickthrough rate**. It's more efficient than weekly_digest email.

- **weekly_digest email experienced a huge drop in the number of weekly clickthroughs in August**.

## Conlusion

According to the analysis I have done, I found that:

First, the statistic number in event analysis suggests that users Significantly reduce the use of the homepage and message functions. Also, I discovered that this happens not because of technical issues in login function, a device system defect, and regional events. 

Secondly, from the user analysis, we can see that people become disengaged over time. The increase in new customers is no longer enough to drive an increase in overall engagement.

Finally, I observed a low open rate and clickthrough rate from the weekly digests. This is a sign of failed marketing content.

## Recommendation

- engagement drop-off, a cross-functional collaboration will be needed to understand if there is any new policy or version change from July to August.

- Input multiple validation strategies to test design in product features, marketing content, UI, and UX. This might include an A/B test or multivariate test.

- According to the poor customer stickiness, we should arrange a focus group to see users’ feelings, perceptions, and thoughts about Yammer products.